{{ define "base" }}
<!doctype html>
<html lang="en">
{{block "head" .}} {{end}}
<body>
    {{template "content" .}}
    <footer>{{template "footer" .}}</footer>
    {{template "scripts" .}}
</body>
</html>
{{end}}
