{{ define "footer"}}
<div class="footer text-center mb-4 p-2">
{{ if CoreApp.Footer.String }}
    {{ safe CoreApp.Footer.String }}
{{ else }}
    <a href="https://github.com/hunterlong/statping" target="_blank">Statping {{VERSION}} made with <i class="text-danger fas fa-heart"></i></a> | <a href="dashboard">Dashboard</a>
{{ end }}
</div>
{{ end }}
