{{define "title"}}Statping | Help{{end}}
{{define "content"}}
<div class="container col-md-7 col-sm-12 mt-md-5 bg-light">
{{if IsUser}}
    {{template "nav"}}
{{end}}
    <div class="col-12">
    {{ safe . }}
    </div>
</div>
{{end}}
{{define "extra_css"}}
<style>
    pre {
        background-color: white;
        padding: 10px 15px;
        border: 1px solid #a2a2a233;
        border-radius: 7px;
    }
    code {
        color: #d87e1a;
    }
</style>
{{end}}
