{{define "title"}}Statping | Logs{{end}}
{{define "content"}}
<div class="container col-md-7 col-sm-12 mt-md-5 bg-light">
{{if Auth}}
    {{template "nav"}}
{{end}}
<div class="col-12">
    <textarea id="live_logs" class="form-control" rows="40" readonly>{{range .}}{{.}}{{end}}</textarea>
</div>
</div>
{{end}}
{{define "extra_css"}}
<style>
    @media (max-width: 767px) {
        #live_logs {
            font-size: 6pt;
        }
    }
</style>
{{end}}
