<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1.0, user-scalable=0">
{{if USE_CDN}}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://assets.statup.io/base.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
{{ else }}
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/base.css">
    <script src="/js/Chart.bundle.min.js"></script>
{{end}}

    <title>Statup | {{.Name}} Service</title>
</head>
<body>

<div class="container col-md-7 col-sm-12 mt-md-5 bg-light">

{{if Auth}}
    {{template "nav"}}
{{end}}

            <div class="col-12 mb-4">

            {{if .Online }}
                <span class="mt-3 mb-3 text-white d-md-none btn bg-success d-block d-md-none">ONLINE</span>
            {{ else }}
                <span class="mt-3 mb-3 text-white d-md-none btn bg-danger d-block d-md-none">OFFLINE</span>
            {{end}}

                        <h4 class="mt-2">{{ .Name }}
                        {{if .Online }}
                            <span class="badge bg-success float-right d-none d-md-block">ONLINE</span>
                        {{ else }}
                            <span class="badge bg-danger float-right d-none d-md-block">OFFLINE</span>
                        {{end}}</h4>

                        <div class="row stats_area mt-5 mb-5">

                            <div class="col-4">
                                <span class="lg_number">{{.Online24}}%</span>
                                Online last 24 Hours
                            </div>

                            <div class="col-4">
                                <span class="lg_number">{{.AvgTime}}ms</span>
                                Average Response
                            </div>

                            <div class="col-4">
                                <span class="lg_number">{{.AvgUptime}}%</span>
                                Total Uptime
                            </div>
                        </div>

                        <canvas id="service" width="400" height="120"></canvas>

            {{ if .LimitedFailures }}
                <div class="list-group mt-3 mb-4">
                {{ range .LimitedFailures }}
                    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">{{.ParseError}}</h5>
                            <small>Reported {{.Ago}}</small>
                        </div>
                        <p class="mb-1">{{.Issue}}</p>
                    </a>
                {{ end }}
                </div>
            {{ end }}

            </div>


{{if Auth}}

        <div class="col-12 mt-4">

            <h3>Edit Service</h3>

            <form action="/service/{{.Id}}" method="POST">
                <div class="form-group row">
                    <label for="service_name" class="col-sm-4 col-form-label">Service Name</label>
                    <div class="col-sm-8">
                        <input type="text" name="name" class="form-control" id="service_name" value="{{.Name}}" placeholder="Name" required spellcheck="false">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="service_type" class="col-sm-4 col-form-label">Service Check Type</label>
                    <div class="col-sm-8">
                        <select name="check_type" class="form-control" id="service_type" value="{{.Type}}">
                            <option value="http" {{if eq .Type "http"}}selected{{end}}>HTTP Service</option>
                            <option value="tcp" {{if eq .Type "tcp"}}selected{{end}}>TCP Service</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="service_url" class="col-sm-4 col-form-label">Application Endpoint (URL)</label>
                    <div class="col-sm-8">
                        <input type="text" name="domain" class="form-control" id="service_url" value="{{.Domain}}" placeholder="https://google.com" required autocapitalize="false" spellcheck="false">
                    </div>
                </div>
                <div class="form-group row{{if eq .Type "tcp"}} d-none{{end}}">
                    <label for="service_check_type" class="col-sm-4 col-form-label">Service Check Type</label>
                    <div class="col-sm-8">
                        <select name="method" class="form-control" id="service_check_type" value="{{.Method}}">
                            <option value="GET" {{if eq .Method "GET"}}selected{{end}}>GET</option>
                            <option value="POST" {{if eq .Method "POST"}}selected{{end}}>POST</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row{{if eq .Type "tcp"}} d-none{{end}}">
                    <label for="post_data" class="col-sm-4 col-form-label">Optional Post Data (JSON)</label>
                    <div class="col-sm-8">
                        <textarea name="post_data" class="form-control" id="post_data" rows="3" autocapitalize="false" spellcheck="false">{{.PostData}}</textarea>
                        <small id="emailHelp" class="form-text text-muted">You can insert <a target="_blank" href="https://regex101.com/r/I5bbj9/1">Regex</a> to validate the response</small>
                    </div>
                </div>
                <div class="form-group row{{if eq .Type "tcp"}} d-none{{end}}">
                    <label for="service_response" class="col-sm-4 col-form-label">Expected Response (Regex)</label>
                    <div class="col-sm-8">
                        <textarea name="expected" class="form-control" id="service_response" rows="3" autocapitalize="false" spellcheck="false">{{.Expected}}</textarea>
                    </div>
                </div>
                <div class="form-group row{{if eq .Type "tcp"}} d-none{{end}}">
                    <label for="service_response_code" class="col-sm-4 col-form-label">Expected Status Code</label>
                    <div class="col-sm-8">
                        <input type="number" name="expected_status" class="form-control" value="{{.ExpectedStatus}}" id="service_response_code">
                    </div>
                </div>
                <div class="form-group row{{if eq .Type "http"}} d-none{{end}}">
                    <label for="service_port" class="col-sm-4 col-form-label">TCP Port</label>
                    <div class="col-sm-8">
                        <input type="number" name="port" class="form-control" value="{{.Port}}" id="service_port" placeholder="8080">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="service_interval" class="col-sm-4 col-form-label">Check Interval (Seconds)</label>
                    <div class="col-sm-8">
                        <input type="number" name="interval" class="form-control" value="{{.Interval}}" min="1" id="service_interval" required>
                        <small id="emailHelp" class="form-text text-muted">10,000+ will be checked in Microseconds (1 millisecond = 1000 microseconds).</small>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="service_timeout" class="col-sm-4 col-form-label">Timeout in Seconds</label>
                    <div class="col-sm-8">
                        <input type="number" name="timeout" class="form-control" value="{{.Timeout}}" id="service_timeout" min="1">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="order" class="col-sm-4 col-form-label">List Order</label>
                    <div class="col-sm-8">
                        <input type="number" name="order" class="form-control" min="0" value="{{.Order}}" id="order">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-6">
                        <button type="submit" class="btn btn-success btn-block">Update Service</button>
                    </div>
                    <div class="col-6">
                        <a href="/service/{{ .Id }}/delete_failures" class="btn btn-danger btn-block confirm-btn">Delete All Failures</a>
                    </div>
                </div>
            </form>

        </div>

<div class="col-12 mt-4{{if eq .Type "tcp"}} d-none{{end}}">
    <h3>Last Response</h3>
    <textarea rows="8" class="form-control" readonly>{{ .LastResponse }}</textarea>
    <div class="form-group row mt-2">
        <label for="last_status_code" class="col-sm-3 col-form-label">HTTP Status Code</label>
        <div class="col-sm-2">
            <input type="text" id="last_status_code" class="form-control" value="{{ .LastStatusCode }}" readonly>
        </div>
    </div>

</div>


<div class="col-12 mt-4{{if eq .Type "tcp"}} d-none{{end}}">
    <h3>Service Checkins</h3>
{{ range .Checkins }}
    <h5>Check #{{.Id}} <span class="badge online_badge float-right">Checked in {{.Ago}}</span></h5>
    <input type="text" class="form-control" value="https://domainhere.com/api/checkin/{{.Api}}">
{{ end }}

    <form action="/service/{{.Id}}/checkin" method="POST">
        <div class="form-group row">
            <label for="service_name" class="col-sm-4 col-form-label">Check Interval (in seconds)</label>
            <div class="col-md-6 col-sm-12">
                <input type="number" name="name" class="form-control" id="checkin_interval" value="30" placeholder="Name">
            </div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-success d-none d-md-block float-right">Save Checkin</button>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-success d-block d-md-none btn-block">Save Checkin</button>
            </div>
        </div>
    </form>
</div>

{{end}}


</div>

    </div>

{{template "footer"}}

<script>
    var ctx = document.getElementById("service").getContext('2d');

    var chartdata = new Chart(ctx, {
        type: 'line',
        data: {
            datasets: [{
                label: 'Response Time (Milliseconds)',
                data: {{js .GraphData}},
                backgroundColor: [
                    'rgba(47, 206, 30, 0.92)'
                ],
                borderColor: [
                    'rgb(47, 171, 34)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            legend: {
                display: false
            },
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    },
                    gridLines: {
                        display:false
                    }
                }],
                xAxes: [{
                    type: 'time',
                    distribution: 'series',
                    gridLines: {
                        display:false
                    }
                }]
            },
            elements: {
                point: {
                    radius: 0
                }
            }
        }
    });
</script>

{{if USE_CDN}}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
<script src="https://assets.statup.io/main.js"></script>
{{ else }}
<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/main.js"></script>
{{end}}

</body>
</html>