{{define "title"}}Statping | Create Service{{end}}
{{define "content"}}
<div class="container col-md-7 col-sm-12 mt-md-5 bg-light">
{{template "nav"}}
    <div class="col-12">
        {{template "form_service" NewService}}
    </div>
</div>
{{end}}
