<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1.0, user-scalable=0">
{{if USE_CDN}}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://assets.statup.io/base.css">
{{ else }}
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/base.css">
{{end}}
    <link rel="stylesheet" href="https://assets.statup.io/codemirror.css">
    <link rel="stylesheet" href="https://assets.statup.io/codemirror-colorpicker.css"/>

    <title>Statup | Settings</title>
</head>
<body>


<div class="container col-md-7 col-sm-12 mt-md-5 bg-light">

{{template "nav"}}

    <div class="col-12">

        <div class="row">

        <div class="col-md-3 col-sm-12">

            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Settings</a>
                <a class="nav-link" id="v-pills-style-tab" data-toggle="pill" href="#v-pills-style" role="tab" aria-controls="v-pills-style" aria-selected="false">Theme Editor</a>
            {{ range .Communications }}
                <a class="nav-link text-capitalize" id="v-pills-{{underscore .Method}}-tab" data-toggle="pill" href="#v-pills-{{underscore .Method}}" role="tab" aria-controls="v-pills-{{underscore .Method}}" aria-selected="false">{{.Method}}</a>
            {{ end }}
                <a class="nav-link" id="v-pills-browse-tab" data-toggle="pill" href="#v-pills-browse" role="tab" aria-controls="v-pills-home" aria-selected="false">Browse Plugins</a>
                <a class="nav-link d-none" id="v-pills-backups-tab" data-toggle="pill" href="#v-pills-backups" role="tab" aria-controls="v-pills-backups" aria-selected="false">Backups</a>
            {{ range .Plugins }}
                <a class="nav-link text-capitalize" id="v-pills-{{underscore .Name}}-tab" data-toggle="pill" href="#v-pills-{{underscore .Name}}" role="tab" aria-controls="v-pills-profile" aria-selected="false">{{.Name}}</a>
            {{end}}
            </div>
        </div>
        <div class="col-md-8 col-sm-12">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                    <h3>Settings</h3>

                    <form method="POST" action="/settings">

                        <div class="form-group">
                            <label for="project">Project Name</label>
                            <input type="text" name="project" class="form-control" value="{{ .Name }}" id="project" placeholder="Great Uptime">
                        </div>

                        <div class="form-group">
                            <label for="description">Project Description</label>
                            <input type="text" name="description" class="form-control" value="{{ .Description }}" id="description" placeholder="Great Uptime">
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-7">
                                <label for="domain">Domain</label>
                                <input type="text" name="domain" class="form-control" value="{{ .Domain }}" id="domain">
                            </div>
                            <div class="col-sm-5 mt-4">
                              <span class="switch">
                                <input type="checkbox" name="enable_cdn" class="switch" id="switch-normal" {{if USE_CDN}}checked{{end}}>
                                <label for="switch-normal">Enable CDN</label>
                              </span>
                            </div>

                        </div>

                        <div class="form-group">
                            <label for="footer">Custom Footer</label>
                            <textarea rows="4" name="footer" class="form-control" id="footer">{{ .Footer }}</textarea>
                        </div>

                        <button type="submit" class="btn btn-primary btn-block">Save Settings</button>

                        <div class="form-group row mt-3">
                            <label for="api_key" class="col-sm-3 col-form-label">API Key</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control select-input" value="{{ .ApiKey }}" id="api_key" readonly>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="api_secret" class="col-sm-3 col-form-label">API Secret</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control select-input" value="{{ .ApiSecret }}" id="api_secret" readonly>
                                <small id="emailHelp" class="form-text text-muted">You can <a href="/api/renew">Regenerate API Keys</a> if you need to.</small>
                            </div>
                        </div>

                    </form>

                </div>

                <div class="tab-pane" id="v-pills-style" role="tabpanel" aria-labelledby="v-pills-style-tab">

        {{if not .UsingAssets }}
            <a href="/settings/build" class="btn btn-primary btn-block">Enable Local Assets</a>
        {{ else }}
                    <form method="POST" action="/settings/css">
                        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                            <li class="nav-item col text-center">
                                <a class="nav-link active" id="pills-vars-tab" data-toggle="pill" href="#pills-vars" role="tab" aria-controls="pills-vars" aria-selected="true">Variables</a>
                            </li>
                            <li class="nav-item col text-center">
                                <a class="nav-link" id="pills-theme-tab" data-toggle="pill" href="#pills-theme" role="tab" aria-controls="pills-theme" aria-selected="false">Base Theme</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane show active" id="pills-vars" role="tabpanel" aria-labelledby="pills-vars-tab">
                                <textarea name="variables" id="sass_vars">{{ .SassVars }}</textarea>
                            </div>
                            <div class="tab-pane" id="pills-theme" role="tabpanel" aria-labelledby="pills-theme-tab">
                                <textarea name="theme" id="theme_css">{{ .BaseSASS }}</textarea>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block mt-2">Save Style</button>
                        <a href="/settings/delete_assets" class="btn btn-danger btn-block confirm-btn">Delete All Assets</a>
                    </form>
            {{end}}
                </div>


            {{ range .Communications }}
            <div class="tab-pane" id="v-pills-{{underscore .Method}}" role="tabpanel" aria-labelledby="v-pills-{{underscore .Method }}-tab">
                <form method="POST" action="/settings/notifier/{{ .Id }}">
                    {{range .Form}}
                        <div class="form-group">
                            <label class="text-capitalize" for="{{underscore .Title}}">{{.Title}}</label>
                            <input type="{{.Type}}" name="{{underscore .DbField}}" class="form-control" value="{{ .Value }}" id="{{underscore .Title}}" placeholder="{{.Placeholder}}">
                        </div>
                    {{end}}

                    <div class="form-group">
                        <label class="text-capitalize" for="limits_per_hour_{{underscore .Method }}">Limits per Hour</label>
                        <input type="number" name="limits" class="form-control" value="{{.LimitValue}}" id="limits_per_hour_{{underscore .Method }}" min="1" max="60" placeholder="How many messages can send per hour">
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-6">
                          <span class="switch">
                            <input type="checkbox" name="enable" class="switch" id="switch-{{ .Method }}" {{if .Enabled}}checked{{end}}>
                            <label for="switch-{{ .Method }}">Enable {{ .Method }}</label>
                          </span>
                        </div>
                        <div class="col-sm-6">
                            <button type="submit" class="btn btn-primary btn-block text-capitalize">Save {{ .Method }} Settings</button>
                        </div>
                    </div>

                </form>

                {{ if .Logs }}
                Sent {{.SentLastHour}} out of {{.LimitValue}} in the last hour<br>
                    {{ range .Logs }}
                        <div class="card mt-1">
                            <div class="card-body">
                                {{.Message}}
                                    <p class="card-text"><small class="text-muted">Sent {{.Time.Ago}}</small></p>
                            </div>
                        </div>
                    {{ end }}
                {{ end }}
            </div>
            {{ end }}

                <div class="tab-pane fade" id="v-pills-browse" role="tabpanel" aria-labelledby="v-pills-browse-tab">
                {{ range .Repos }}
                        <div class="card col-6" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">{{ .Name }}</h5>
                                <p class="card-text">{{ .Description }}</p>
                                <a href="/plugins/download/{{ .Name }}" class="card-link">Add</a>
                            </div>
                        </div>
                 {{ end }}
                </div>


                <div class="tab-pane fade" id="v-pills-backups" role="tabpanel" aria-labelledby="v-pills-backups-tab">

                    <a href="/backups/create" class="btn btn-primary btn-block">Backup Database</a>

                </div>

                {{ range .Plugins }}

                    <div class="tab-pane fade" id="v-pills-{{underscore .Name}}" role="tabpanel" aria-labelledby="v-pills-{{underscore .Name}}-tab">

                        <h4 class="text-capitalize">{{ .Name }}</h4>
                        <span class="text-muted">{{ .Description }}</span>

                        <div class="mt-1">
                        {{ safe .Form }}
                        </div>

                    </div>
                {{end}}

            </div>
        </div>

    </div>
</div>
</div>
{{template "footer"}}

{{if USE_CDN}}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
{{ else }}
<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
{{end}}

<script src="https://assets.statup.io/codemirror.js"></script>
<script src="https://assets.statup.io/css.js"></script>
<script src="https://assets.statup.io/codemirror-colorpicker.min.js"></script>

{{if USE_CDN}}
<script src="https://assets.statup.io/main.js"></script>
{{else}}
<script src="/js/main.js"></script>
{{end}}


</body>
</html>