<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1.0, user-scalable=0">
{{if USE_CDN}}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://assets.statup.io/base.css">
{{ else }}
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/base.css">
{{end}}

    <title>Statup | Setup</title>
</head>
<body>


<div class="container col-md-7 col-sm-12 mt-md-5 bg-light">

    <div class="col-12">

        {{ if .Error }}
            <div class="alert alert-danger" role="alert">
                {{ .Error }}
            </div>
        {{ end }}

    <form method="POST" id="setup_form" action="/setup">

    <div class="row">

    <div class="col-6">
        <div class="form-group">
            <label for="inputState">Database Connection</label>
            <select id="database_type" name="db_connection" class="form-control">
                <option selected value="postgres">Postgres</option>
                <option value="sqlite">Sqlite</option>
                <option value="mysql">MySQL</option>
            </select>
        </div>
        <div class="form-group" id="db_host">
            <label for="db_host_in">Host</label>
            <input type="text" name="db_host" id="db_host_in" class="form-control" value="{{.DbHost}}" placeholder="localhost">
        </div>
        <div class="form-group" id="db_port">
            <label for="db_port_in">Database Port</label>
            <input type="text" name="db_port" id="db_port_in" class="form-control" value="{{.DbPort}}" placeholder="localhost">
        </div>
        <div class="form-group" id="db_user">
            <label for="db_user_in">Username</label>
            <input type="text" name="db_user" id="db_user_in" class="form-control" value="{{.DbUser}}" placeholder="root">
        </div>
        <div class="form-group" id="db_password">
            <label for="db_password">Password</label>
            <input type="password" name="db_password" class="form-control" value="{{.DbPass}}" id="db_password" placeholder="password123">
        </div>
        <div class="form-group" id="db_database">
            <label for="db_database">Database</label>
            <input type="text" name="db_database" class="form-control" value="{{.DbData}}" id="db_database" placeholder="Database name">
        </div>

    </div>

    <div class="col-6">

        <div class="form-group">
            <label for="project">Project Name</label>
            <input type="text" name="project" class="form-control" value="{{.Project}}" id="project" placeholder="Great Uptime" required>
        </div>

        <div class="form-group">
            <label for="description">Project Description</label>
            <input type="text" name="description" class="form-control" value="{{.Description}}" id="description" placeholder="Great Uptime">
        </div>

        <div class="form-group">
            <label for="domain_input">Domain URL</label>
            <input type="text" name="domain" class="form-control" value="{{.Domain}}" id="domain_input" required>
        </div>

        <div class="form-group">
            <label for="username">Admin Username</label>
            <input type="text" name="username" class="form-control" value="{{.Username}}" id="username" value="admin" placeholder="admin" required>
        </div>

        <div class="form-group">
            <label for="email">Admin Email Address</label>
            <input type="email" name="email" class="form-control" value="{{.Email}}" id="email" placeholder="info@admin.com" required>
        </div>

        <div class="form-group">
            <label for="pushover">Admin Pushover Key</label>
            <input type="pushover" name="pushover" class="form-control" value="{{.Pushover}}" id="pushover" placeholder="">
        </div>

        <div class="form-group">
            <label for="password">Admin Password</label>
            <input type="password" name="password" class="form-control" value="{{.Password}}" id="password" placeholder="password" required>
        </div>

        <div class="form-group">
              <span class="switch">
                <input type="checkbox" name="sample_data" class="switch" id="switch-normal" checked>
                <label for="switch-normal">Load Sample Data</label>
              </span>
        </div>

    </div>

            <button id="setup_button" type="submit" class="btn btn-primary btn-block disable_click">Save Settings</button>

    </div>

    </form>

    </div>

</div>

{{template "footer"}}

{{if USE_CDN}}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
<script src="https://assets.statup.io/setup.js"></script>
{{ else }}
<script src="/js/jquery-3.3.1.slim.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/setup.js"></script>
{{end}}

</body>
</html>