{{define "title"}}Statup | Users{{end}}
{{define "content"}}
<div class="container col-md-7 col-sm-12 mt-md-5 bg-light">
{{template "nav"}}
    <div class="col-12">
        <h3>Users</h3>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Username</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody id="users_table">
            {{range .}}
            <tr id="user_{{.Id}}">
                <td>{{.Username}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <a href="/user/{{.Id}}" class="btn btn-outline-secondary"><i class="fas fa-user-edit"></i> Edit</a>
                        <a href="/api/users/{{.Id}}" class="ajax_delete btn btn-danger" data-method="DELETE" data-obj="user_{{.Id}}" data-id="{{.Id}}"><i class="fas fa-times"></i></a>
                    </div>
                </td>
            </tr>
            {{end}}
            </tbody>
        </table>

        <h3>Create User</h3>

        {{template "form_user" NewUser}}

    </div>
</div>
{{end}}
