/*
      Main Design
   =================
    - Background
    - Boxes
    - Font Colors
    - div widths
*/


$background-color: #fcfcfc;
$max-width: 860px;
$online-color: #47d337;
$offline-color: #dd3545;



/*
    Card Design
  ================
*/


$card-background: #fff;
$card-stats-color: #474747;
$card-stats-size: 26pt;


