# This file allows Github to automatically request reviews from
# code owners when certain files are changed.
# Ref: https://github.com/blog/2392-introducing-de-owners

ci.yml                      vivek.aggarwal@razorpay.com   sunny.aggrawal@razorpay.com   ankit.gupta@razorpay.com    amrendra.singh@razorpay.com  manikant.pandit@razorpay.com