.git
.github
.idea
logs
*.log
build
assets
source/rice-box.go
.env
.DS_Store
*/**/node_modules
vendor
servers
dev
!dev/postman_environment.json
!dev/demo-script.sh
!build/alpine-linux-amd64
config.yml
statup.db
