@import 'variables';


HTML,BODY {
    background-color: $background-color;
}

.container {
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: $max-width;
}

.header-title {
    color: $title-color;
}

.header-desc {
    color: $description-color;
}


.btn {
    border-radius: $global-border-radius;
}

.online_list .badge {
    margin-top: 0.2rem;
}

.navbar {
    margin-bottom: 30px;
}

.btn-sm {
    line-height: 1.3;
    font-size: 0.75rem;
}

.view_service_btn {
    position: absolute;
    bottom: -40px;
    right: 40px;
}

.service_lower_info {
    position: absolute;
    bottom: -40px;
    left: 40px;
    color: #d1ffca;
    font-size: 0.85rem;
}

.lg_number {
    font-size: $service-stats-size;
    font-weight: bold;
    display: block;
    color: $service-stats-color;
}

.stats_area {
    text-align: center;
    color: #a5a5a5;
}

.lower_canvas {
    height: 55px;
    width: 100%;
    background-color: #48d338;
    padding: 17px 10px;
}

.lower_canvas SPAN {
    font-size: 1rem;
    color: $service-description-color
}

.footer {
    text-decoration: none;
    margin-top: 20px;
}

.footer A {
    color: $footer-text-color;
    text-decoration: none;
}

.footer A:HOVER {
    color: #6d6d6d;
}

.badge {
    color: white;
    border-radius: $global-border-radius;
}

.btn-group {
    height: 25px;

    & A {
        padding: 0.1rem .75rem;
        font-size: 0.8rem;
    }
}

.card-body .badge {
    color: #fff;
}

.nav-pills .nav-link {
    border-radius: $global-border-radius;
}

.form-control {
    border-radius: $global-border-radius;
}

.card {
    background-color: $service-background;
    border: $service-border;
}

.card-body {
    overflow: hidden;
}

.card-body H4 A {
    color: $service-title;
    text-decoration: none;
}

.chart-container {
    position: relative;
    height: 170px;
    width: 100%;
}

@mixin dynamic-color-hov($color) {
    &.dyn-dark {
        background-color: darken($color, 12%) !important;
        border-color: darken($color, 17%) !important;
    }
    &.dyn-dark:HOVER {
        background-color: darken($color, 17%) !important;
        border-color: darken($color, 20%) !important;
    }
    &.dyn-light {
        background-color: lighten($color, 12%) !important;
        border-color: lighten($color, 17%) !important;
    }
    &.dyn-light:HOVER {
        background-color: lighten($color, 17%) !important;
        border-color: lighten($color, 20%) !important;
    }
}

@mixin dynamic-color($color) {
    &.dyn-dark {
        background-color: darken($color, 12%) !important;
        border-color: darken($color, 17%) !important;
    }
    &.dyn-light {
        background-color: lighten($color, 12%) !important;
        border-color: lighten($color, 17%) !important;
    }
}


.btn-primary {
    background-color: $primary-color;
    border-color: darken($primary-color, 17%);
    color: white;
    @include dynamic-color($success-color);
}

.btn-success {
    background-color: $success-color;
    @include dynamic-color($success-color);
}

.btn-danger {
    background-color: $danger-color;
    @include dynamic-color($danger-color);
}

.bg-success {
    background-color: $success-color !important;
}

.bg-danger {
    background-color: $danger-color !important;
}

.bg-success .dyn-dark {
    background-color: darken($success-color, 10%) !important;
}

.bg-danger .dyn-dark {
    background-color: darken($danger-color, 10%) !important;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: $nav-tab-color;
}

.nav-pills A {
    color: #424242;
}


.CodeMirror {
  /* Bootstrap Settings */
  box-sizing: border-box;
  margin: 0;
  font: inherit;
  overflow: auto;
  font-family: inherit;
  display: block;
  width: 100%;
  padding: 0px;
  font-size: 14px;
  line-height: 1.5;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  /* Code Mirror Settings */
  font-family: monospace;
  position: relative;
  overflow: hidden;
  height:60vh;
}

.CodeMirror-focused {
  /* Bootstrap Settings */
  border-color: #66afe9;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

@keyframes pulse_animation {
    0% { transform: scale(1); }
    30% { transform: scale(1); }
    40% { transform: scale(1.02); }
    50% { transform: scale(1); }
    60% { transform: scale(1); }
    70% { transform: scale(1.05); }
    80% { transform: scale(1); }
    100% { transform: scale(1); }
}

.pulse {
    animation-name: pulse_animation;
    animation-duration: 1500ms;
    transform-origin:70% 70%;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}


@keyframes glow-grow {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}
.pulse-glow {
    animation-name: glow-grown;
    animation-duration: 100ms;
    transform-origin: 70% 30%;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.pulse-glow:before,
.pulse-glow:after {
    position: absolute;
    content: '';
    height: 0.5rem;
    width: 1.75rem;
    top: 1.2rem;
    right: 2.15rem;
    border-radius: 0;
    box-shadow: 0 0 7px #47d337;
    animation: glow-grow 2s ease-out infinite;
}


@import 'mobile';