$background-color: #fcfcfc;
$max-width: 860px;

$title-color: #464646;
$description-color: #939393;

$service-background: #ffffff;
$service-border: 1px solid rgba(0,0,0,.125);
$service-title: #444444;
$success-color: #47d337;
$danger-color: #dd3545;

$footer-text-color: #8d8d8d;

$service-stats-color: #47d337;
$service-description-color: #47d337;
$service-stats-size: 2.3rem;

$nav-tab-color: #13a00d;

$button-color: #ffffff;
$button-background-color: #3e9bff;
$button-border-color: #007bff;