/* codemirror colorview */
.codemirror-colorview {
  border: 1px solid #b8b8b8;
  position: relative;
  display: inline-block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: -4px 5px 0px 0px;
  width: 15px;
  height: 15px;
  cursor: pointer;
  vertical-align: middle;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAJElEQVQYV2NctWrVfwYkEBYWxojMZ6SDAmT7QGx0K1EcRBsFAADeG/3M/HteAAAAAElFTkSuQmCC") repeat; }
  .codemirror-colorview .codemirror-colorview-background {
    content: "";
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px; }
  .codemirror-colorview:hover {
    border-color: #494949; }

/* codemirror-colorpicker */
.codemirror-colorpicker {
  position: relative;
  width: 224px;
  z-index: 1000;
  display: inline-block;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: #fff;
  border-radius: 3px;
  -webkit-box-shadow: 0 0px 10px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0 0px 10px 2px rgba(0, 0, 0, 0.12);
  /* theme */ }
  .codemirror-colorpicker > .arrow {
    position: absolute;
    top: -10px;
    left: 7px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    display: none;
    border-bottom: 10px solid rgba(0, 0, 0, 0.2);
    pointer-events: none; }
    .codemirror-colorpicker > .arrow:after {
      position: absolute;
      content: "";
      top: 1px;
      left: -9px;
      width: 0;
      height: 0;
      border-left: 9px solid transparent;
      border-right: 9px solid transparent;
      border-bottom: 9px solid white; }
  .codemirror-colorpicker .arrow-button {
    position: relative;
    width: 10px;
    height: 12px;
    padding: 0px; }
    .codemirror-colorpicker .arrow-button:before {
      content: "";
      display: inline-block;
      position: absolute;
      left: 0px;
      right: 0px;
      top: 0px;
      height: 50%;
      width: 0;
      height: 0;
      border-left: 3px solid transparent;
      border-right: 3px solid transparent;
      border-bottom: 3px solid black;
      pointer-events: none;
      margin: 2px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box; }
    .codemirror-colorpicker .arrow-button:after {
      content: "";
      display: inline-block;
      position: absolute;
      left: 0px;
      right: 0px;
      bottom: 0px;
      top: 50%;
      width: 0;
      height: 0;
      border-left: 3px solid transparent;
      border-right: 3px solid transparent;
      border-top: 3px solid black;
      pointer-events: none;
      margin: 2px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box; }
  .codemirror-colorpicker > .color {
    position: relative;
    height: 120px;
    overflow: hidden;
    cursor: pointer; }
    .codemirror-colorpicker > .color > .saturation {
      position: relative;
      width: 100%;
      height: 100%; }
      .codemirror-colorpicker > .color > .saturation > .value {
        position: relative;
        width: 100%;
        height: 100%; }
        .codemirror-colorpicker > .color > .saturation > .value > .drag-pointer {
          position: absolute;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          left: -5px;
          top: -5px; }
    .codemirror-colorpicker > .color > .saturation {
      background-color: rgba(204, 154, 129, 0);
      background-image: -webkit-gradient(linear, left top, right top, from(#FFF), to(rgba(204, 154, 129, 0)));
      background-image: linear-gradient(to right, #FFF, rgba(204, 154, 129, 0));
      background-repeat: repeat-x; }
      .codemirror-colorpicker > .color > .saturation > .value {
        background-image: -webkit-gradient(linear, left bottom, left top, from(#000000), to(rgba(204, 154, 129, 0)));
        background-image: linear-gradient(to top, #000000, rgba(204, 154, 129, 0)); }
        .codemirror-colorpicker > .color > .saturation > .value > .drag-pointer {
          border: 1px solid #fff;
          -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.05);
                  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.05); }
  .codemirror-colorpicker > .control {
    position: relative;
    padding: 10px 0px 10px 0px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none; }
    .codemirror-colorpicker > .control > .color, .codemirror-colorpicker > .control > .empty {
      position: absolute;
      left: 12px;
      top: 14px;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      -webkit-box-sizing: border-box;
              box-sizing: border-box; }
    .codemirror-colorpicker > .control > .color {
      border: 1px solid rgba(0, 0, 0, 0.1); }
    .codemirror-colorpicker > .control > .hue {
      position: relative;
      padding: 6px 16px;
      margin: 0px 0px 0px 42px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      cursor: pointer; }
      .codemirror-colorpicker > .control > .hue > .hue-container {
        position: relative;
        width: 100%;
        height: 10px;
        border-radius: 3px; }
    .codemirror-colorpicker > .control > .opacity {
      position: relative;
      padding: 3px 16px;
      margin: 0px 0px 0px 42px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      cursor: pointer; }
      .codemirror-colorpicker > .control > .opacity > .opacity-container {
        position: relative;
        width: 100%;
        height: 10px;
        border-radius: 3px; }
    .codemirror-colorpicker > .control .drag-bar, .codemirror-colorpicker > .control .drag-bar2 {
      position: absolute;
      cursor: pointer;
      top: 50% !important;
      margin-top: -7px !important;
      left: -3px;
      width: 12px;
      height: 12px;
      border-radius: 50px; }
    .codemirror-colorpicker > .control > .hue > .hue-container {
      background: -webkit-gradient(linear, left top, right top, from(#ff0000), color-stop(17%, #ffff00), color-stop(33%, #00ff00), color-stop(50%, #00ffff), color-stop(67%, #0000ff), color-stop(83%, #ff00ff), to(#ff0000));
      background: linear-gradient(to right, #ff0000 0%, #ffff00 17%, #00ff00 33%, #00ffff 50%, #0000ff 67%, #ff00ff 83%, #ff0000 100%); }
    .codemirror-colorpicker > .control > .opacity > .opacity-container {
      background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAJElEQVQYV2NctWrVfwYkEBYWxojMZ6SDAmT7QGx0K1EcRBsFAADeG/3M/HteAAAAAElFTkSuQmCC") repeat; }
      .codemirror-colorpicker > .control > .opacity > .opacity-container > .color-bar {
        position: absolute;
        display: block;
        content: "";
        left: 0px;
        right: 0px;
        bottom: 0px;
        top: 0px;
        background: -webkit-gradient(linear, left top, right top, from(rgba(232, 232, 232, 0)), to(#e8e8e8));
        background: linear-gradient(to right, rgba(232, 232, 232, 0), #e8e8e8); }
    .codemirror-colorpicker > .control > .empty {
      background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAJElEQVQYV2NctWrVfwYkEBYWxojMZ6SDAmT7QGx0K1EcRBsFAADeG/3M/HteAAAAAElFTkSuQmCC") repeat; }
    .codemirror-colorpicker > .control .drag-bar,
    .codemirror-colorpicker > .control .drag-bar2 {
      border: 1px solid rgba(0, 0, 0, 0.05);
      -webkit-box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
              box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
      background-color: #fefefe; }
  .codemirror-colorpicker > .information {
    /*border-top: 1px solid #e8e8e8;*/
    position: relative;
    -webkit-box-sizing: padding-box;
            box-sizing: padding-box; }
    .codemirror-colorpicker > .information > input {
      position: absolute;
      font-size: 10px;
      height: 20px;
      bottom: 20px;
      padding: 0 0 0 2px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      -webkit-user-select: text;
         -moz-user-select: text;
          -ms-user-select: text;
              user-select: text; }
      .codemirror-colorpicker > .information > input[type=number] {
        -webkit-appearance: none;
           -moz-appearance: none;
                appearance: none; }
      .codemirror-colorpicker > .information > input[type=number]::-webkit-inner-spin-button, .codemirror-colorpicker > .information > input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
                appearance: none;
        margin: 0; }
    .codemirror-colorpicker > .information.hex > .information-item.hex {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
    .codemirror-colorpicker > .information.rgb > .information-item.rgb {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
    .codemirror-colorpicker > .information.hsl > .information-item.hsl {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
    .codemirror-colorpicker > .information > .information-item {
      display: none;
      position: relative;
      padding: 0px 5px;
      padding-left: 9px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      margin-right: 40px; }
      .codemirror-colorpicker > .information > .information-item > .input-field {
        display: block;
        -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1;
        padding: 3px;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        position: relative; }
        .codemirror-colorpicker > .information > .information-item > .input-field > .title {
          text-align: center;
          font-size: 12px;
          color: #a9a9a9;
          padding-top: 2px; }
        .codemirror-colorpicker > .information > .information-item > .input-field input {
          text-align: center;
          width: 100%;
          padding: 3px;
          height: 21px;
          font-size: 11px;
          color: #333;
          -webkit-box-sizing: border-box;
                  box-sizing: border-box;
          -webkit-user-select: text;
             -moz-user-select: text;
              -ms-user-select: text;
                  user-select: text;
          border: 1px solid #cbcbcb;
          border-radius: 2px; }
          .codemirror-colorpicker > .information > .information-item > .input-field input[type=number] {
            -webkit-appearance: none;
               -moz-appearance: none;
                    appearance: none; }
          .codemirror-colorpicker > .information > .information-item > .input-field input[type=number]::-webkit-inner-spin-button, .codemirror-colorpicker > .information > .information-item > .input-field input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
                    appearance: none;
            margin: 0; }
        .codemirror-colorpicker > .information > .information-item > .input-field.hsl-l input[type=number], .codemirror-colorpicker > .information > .information-item > .input-field.hsl-s input[type=number] {
          padding-left: 1px;
          padding-right: 10px; }
        .codemirror-colorpicker > .information > .information-item > .input-field .postfix {
          display: inline-block;
          position: absolute;
          right: 4px;
          top: 2px;
          height: 21px;
          line-height: 2;
          padding: 2px;
          -webkit-box-sizing: border-box;
                  box-sizing: border-box;
          text-align: center;
          font-size: 11px; }
    .codemirror-colorpicker > .information > .information-change {
      position: absolute;
      display: block;
      width: 40px;
      top: 0px;
      right: 0px;
      bottom: 0px;
      text-align: center;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      padding-top: 5px; }
      .codemirror-colorpicker > .information > .information-change > .format-change-button {
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        background: transparent;
        border: 0px;
        cursor: pointer;
        outline: none; }
    .codemirror-colorpicker > .information > .title {
      color: #a3a3a3; }
    .codemirror-colorpicker > .information > .input {
      color: #333; }
  .codemirror-colorpicker > .colorsets {
    border-top: 1px solid #e2e2e2; }
    .codemirror-colorpicker > .colorsets > .menu {
      float: right;
      padding: 10px 5px;
      padding-right: 15px; }
      .codemirror-colorpicker > .colorsets > .menu button {
        border: 0px;
        font-size: 14px;
        font-weight: 300;
        font-family: serif, sans-serif;
        outline: none;
        cursor: pointer; }
    .codemirror-colorpicker > .colorsets > .color-list {
      margin-right: 30px;
      display: block;
      padding: 12px 0px 0px 12px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      line-height: 0; }
      .codemirror-colorpicker > .colorsets > .color-list .color-item {
        width: 13px;
        height: 13px;
        border-radius: 2px;
        display: inline-block;
        margin-right: 12px;
        margin-bottom: 12px;
        position: relative;
        background-size: contain;
        overflow: hidden;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        cursor: pointer;
        vertical-align: middle; }
        .codemirror-colorpicker > .colorsets > .color-list .color-item:hover {
          -webkit-transform: scale(1.2);
                  transform: scale(1.2); }
        .codemirror-colorpicker > .colorsets > .color-list .color-item .empty {
          position: absolute;
          left: 0px;
          top: 0px;
          background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAJElEQVQYV2NctWrVfwYkEBYWxojMZ6SDAmT7QGx0K1EcRBsFAADeG/3M/HteAAAAAElFTkSuQmCC") repeat;
          width: 100%;
          height: 100%;
          padding: 0px;
          margin: 0px;
          pointer-events: none; }
        .codemirror-colorpicker > .colorsets > .color-list .color-item .color-view {
          position: absolute;
          left: 0px;
          top: 0px;
          width: 100%;
          height: 100%;
          padding: 0px;
          margin: 0px;
          pointer-events: none;
          border: 1px solid rgba(0, 0, 0, 0.1);
          -webkit-box-sizing: border-box;
                  box-sizing: border-box; }
      .codemirror-colorpicker > .colorsets > .color-list .add-color-item {
        width: 13px;
        height: 13px;
        display: inline-block;
        margin-right: 12px;
        margin-bottom: 12px;
        cursor: pointer;
        line-height: 1;
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        font-family: serif,sans-serif;
        color: #8e8e8e;
        vertical-align: middle; }
  .codemirror-colorpicker > .color-chooser {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-transition: opacity 0.05s ease-out;
    transition: opacity 0.05s ease-out;
    pointer-events: none; }
    .codemirror-colorpicker > .color-chooser.open {
      opacity: 1;
      pointer-events: all; }
    .codemirror-colorpicker > .color-chooser .color-chooser-container {
      position: absolute;
      top: 120px;
      left: 0px;
      right: 0px;
      bottom: 0px;
      background-color: white; }
      .codemirror-colorpicker > .color-chooser .color-chooser-container .colorsets-item-header {
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        height: 34px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding: 3px 0px;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2); }
        .codemirror-colorpicker > .color-chooser .color-chooser-container .colorsets-item-header .title {
          -webkit-box-flex: 2;
              -ms-flex: 2;
                  flex: 2;
          font-weight: bold;
          font-size: 15px;
          -webkit-box-sizing: border-box;
                  box-sizing: border-box;
          margin-right: 30px;
          vertical-align: middle;
          margin: 0px;
          padding: 5px;
          padding-left: 14px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap; }
        .codemirror-colorpicker > .color-chooser .color-chooser-container .colorsets-item-header .items {
          -webkit-box-flex: 1;
              -ms-flex: 1;
                  flex: 1;
          text-align: right;
          padding-right: 10px;
          display: block;
          height: 100%;
          line-height: 1.6;
          cursor: pointer; }
      .codemirror-colorpicker > .color-chooser .color-chooser-container .colorsets-list {
        position: absolute;
        top: 34px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        overflow: auto; }
        .codemirror-colorpicker > .color-chooser .color-chooser-container .colorsets-list .colorsets-item {
          cursor: pointer;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          padding: 3px 0px;
          border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
          .codemirror-colorpicker > .color-chooser .color-chooser-container .colorsets-list .colorsets-item:hover {
            background-color: rgba(0, 0, 0, 0.05); }
          .codemirror-colorpicker > .color-chooser .color-chooser-container .colorsets-list .colorsets-item .title {
            -webkit-box-flex: 2;
                -ms-flex: 2;
                    flex: 2;
            font-size: 14px;
            -webkit-box-sizing: border-box;
                    box-sizing: border-box;
            margin-right: 30px;
            vertical-align: middle;
            pointer-events: none;
            margin: 0px;
            padding: 5px;
            padding-left: 14px;
            font-weight: normal;
            font-size: 13px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap; }
          .codemirror-colorpicker > .color-chooser .color-chooser-container .colorsets-list .colorsets-item .items {
            -webkit-box-flex: 3;
                -ms-flex: 3;
                    flex: 3;
            display: block;
            height: 100%;
            line-height: 1.6;
            cursor: pointer;
            pointer-events: none; }
            .codemirror-colorpicker > .color-chooser .color-chooser-container .colorsets-list .colorsets-item .items .color-item {
              width: 13px;
              height: 13px;
              border-radius: 3px;
              display: inline-block;
              margin-right: 10px;
              background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAJElEQVQYV2NctWrVfwYkEBYWxojMZ6SDAmT7QGx0K1EcRBsFAADeG/3M/HteAAAAAElFTkSuQmCC") repeat;
              background-size: contain;
              border: 1px solid #dddddd;
              overflow: hidden;
              -webkit-box-sizing: border-box;
                      box-sizing: border-box;
              cursor: pointer;
              vertical-align: middle; }
              .codemirror-colorpicker > .color-chooser .color-chooser-container .colorsets-list .colorsets-item .items .color-item .color-view {
                width: 100%;
                height: 100%;
                padding: 0px;
                margin: 0px;
                pointer-events: none; }
  .codemirror-colorpicker.sketch {
    border-radius: 5px; }
    .codemirror-colorpicker.sketch > .color {
      margin: 10px 10px 2px 10px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      height: 150px; }
    .codemirror-colorpicker.sketch > .control {
      padding: 0px; }
      .codemirror-colorpicker.sketch > .control > .color, .codemirror-colorpicker.sketch > .control > .empty {
        position: absolute;
        right: 10px;
        left: auto;
        top: 1px;
        width: 26px;
        height: 26px;
        border-radius: 2px;
        -webkit-box-sizing: border-box;
                box-sizing: border-box; }
      .codemirror-colorpicker.sketch > .control > .color {
        -webkit-box-shadow: inset 0px 0px 1px 0px rgba(0, 0, 0, 0.5);
                box-shadow: inset 0px 0px 1px 0px rgba(0, 0, 0, 0.5); }
      .codemirror-colorpicker.sketch > .control > .hue {
        position: relative;
        padding: 2px 2px 2px 10px;
        margin: 0px 38px 0px 0px; }
        .codemirror-colorpicker.sketch > .control > .hue > .hue-container {
          border-radius: 0px; }
      .codemirror-colorpicker.sketch > .control > .opacity {
        position: relative;
        padding: 2px 2px 2px 10px;
        margin: 0px 38px 0px 0px; }
        .codemirror-colorpicker.sketch > .control > .opacity > .opacity-container {
          border-radius: 0px; }
      .codemirror-colorpicker.sketch > .control .drag-bar, .codemirror-colorpicker.sketch > .control .drag-bar2 {
        border-radius: 0px;
        top: 0px !important;
        left: -2px;
        margin-top: 1px !important;
        width: 2px;
        height: auto;
        border-radius: 1px;
        bottom: 1px !important; }
    .codemirror-colorpicker.sketch > .information .information-change {
      display: none; }
    .codemirror-colorpicker.sketch > .information.rgb .information-item.rgb {
      display: inherit; }
    .codemirror-colorpicker.sketch > .information.hex .information-item.hex {
      display: inherit; }
    .codemirror-colorpicker.sketch > .information .information-item {
      display: -webkit-inline-box !important;
      display: -ms-inline-flexbox !important;
      display: inline-flex !important;
      margin-right: 0px; }
      .codemirror-colorpicker.sketch > .information .information-item > .input-field > .title {
        color: black;
        font-size: 11px; }
      .codemirror-colorpicker.sketch > .information .information-item > .input-field:last-child:not(:first-child) {
        padding-right: 0px; }
    .codemirror-colorpicker.sketch > .information .information-item.hsl {
      display: none !important; }
    .codemirror-colorpicker.sketch > .information .information-item.hex {
      width: 80px;
      padding-right: 0px;
      padding-left: 5px; }
    .codemirror-colorpicker.sketch > .information .information-item.rgb {
      width: 140px;
      padding-left: 0px; }
    .codemirror-colorpicker.sketch > .colorsets > .menu {
      display: none; }
    .codemirror-colorpicker.sketch > .colorsets > .color-list {
      margin-right: 0px;
      padding-right: 12px; }
      .codemirror-colorpicker.sketch > .colorsets > .color-list .color-item {
        width: 16px;
        height: 16px;
        border-radius: 3px;
        margin-right: 9px;
        margin-bottom: 10px; }
  .codemirror-colorpicker.palette {
    border-radius: 3px;
    -webkit-box-shadow: none;
            box-shadow: none; }
    .codemirror-colorpicker.palette > .color {
      display: none; }
    .codemirror-colorpicker.palette > .control {
      display: none; }
    .codemirror-colorpicker.palette > .information {
      display: none; }
    .codemirror-colorpicker.palette > .colorsets {
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      border-top: 0px; }
      .codemirror-colorpicker.palette > .colorsets > .color-list .color-item {
        width: 15px;
        height: 15px;
        margin-right: 10px;
        margin-bottom: 10px; }
    .codemirror-colorpicker.palette > .color-chooser {
      display: none;
      -webkit-box-sizing: border-box;
              box-sizing: border-box; }
      .codemirror-colorpicker.palette > .color-chooser.open {
        display: block;
        top: -1px;
        left: -1px;
        right: -1px;
        bottom: auto;
        border-radius: 3px;
        border: 1px solid #d8d8d8;
        -webkit-box-shadow: 0 0px 10px 2px rgba(0, 0, 0, 0.12);
                box-shadow: 0 0px 10px 2px rgba(0, 0, 0, 0.12); }
        .codemirror-colorpicker.palette > .color-chooser.open .color-chooser-container {
          position: relative;
          top: auto;
          left: auto;
          right: auto;
          bottom: auto;
          background-color: white;
          -webkit-box-sizing: border-box;
                  box-sizing: border-box;
          border-radius: 3px; }
          .codemirror-colorpicker.palette > .color-chooser.open .color-chooser-container .colorsets-item-header {
            position: relative;
            left: auto;
            top: auto;
            right: auto;
            bottom: auto;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px; }
          .codemirror-colorpicker.palette > .color-chooser.open .color-chooser-container .colorsets-list {
            position: relative;
            top: auto;
            left: auto;
            right: auto;
            bottom: auto;
            overflow: auto; }
            .codemirror-colorpicker.palette > .color-chooser.open .color-chooser-container .colorsets-list .colorsets-item:last-child {
              border-bottom-left-radius: 3px;
              border-bottom-right-radius: 3px; }

.colorsets-contextmenu {
  position: fixed;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 6px;
  background-color: #ececec;
  border: 1px solid #cccccc;
  display: none;
  list-style: none;
  font-size: 13px;
  padding-left: 0px;
  padding-right: 0px; }
  .colorsets-contextmenu.show {
    display: inline-block; }
  .colorsets-contextmenu .menu-item {
    padding: 2px 20px;
    cursor: default; }
    .colorsets-contextmenu .menu-item:hover {
      background-color: #5ea3fb;
      color: white; }
  .colorsets-contextmenu.small .menu-item.small-hide {
    display: none; }
