<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/base.css">

    <title>Statup | Plugins</title>
</head>
<body>


<div class="container col-md-7 col-sm-12 mt-2 bg-light">


{{template "nav"}}

    <div class="row">

        <div class="col-md-4 col-sm-12">

            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Settings</a>
                <a class="nav-link" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-style" role="tab" aria-controls="v-pills-style" aria-selected="false">Styling</a>
                <a class="nav-link" id="v-pills-browse-tab" data-toggle="pill" href="#v-pills-browse" role="tab" aria-controls="v-pills-home" aria-selected="false">Browse Plugins</a>
            {{ range .Plugins }}
                <a class="nav-link text-capitalize" id="v-pills-{{underscore .Name}}-tab" data-toggle="pill" href="#v-pills-{{underscore .Name}}" role="tab" aria-controls="v-pills-profile" aria-selected="false">{{.Name}}</a>
            {{end}}
            </div>
        </div>
        <div class="col-md-8 col-sm-12">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                    <h3>Settings</h3>

                    <form method="POST" action="/settings">

                        <div class="form-group">
                            <label for="formGroupExampleInput">Project Name</label>
                            <input type="text" name="project" class="form-control" value="{{ .Name }}" id="formGroupExampleInput" placeholder="Great Uptime">
                        </div>

                        <div class="form-group">
                            <label for="formGroupExampleInput">Project Description</label>
                            <input type="text" name="description" class="form-control" value="{{ .Description }}" id="formGroupExampleInput" placeholder="Great Uptime">
                        </div>

                        <div class="form-group">
                            <label for="formGroupExampleInput">Custom Footer</label>
                            <textarea rows="4" name="footer" class="form-control" id="formGroupExampleInput">{{ .Footer }}</textarea>
                        </div>

                        <button type="submit" class="btn btn-primary btn-block">Save Settings</button>

                    </form>

                </div>


                <div class="tab-pane fade" id="v-pills-style" role="tabpanel" aria-labelledby="v-pills-style-tab">
                    <h3>Custom Style</h3>
                    <form method="POST" action="/settings">

                        <div class="form-group">
                            <textarea rows="15" name="style" class="form-control" id="formGroupExampleInput">{{ .Style }}</textarea>
                        </div>

                        <button type="submit" class="btn btn-primary btn-block">Save Settings</button>

                    </form>
                </div>

                <div class="tab-pane fade" id="v-pills-browse" role="tabpanel" aria-labelledby="v-pills-browse-tab">
                {{ range .Repos }}
                        <div class="card col-6" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">{{ .Name }}</h5>
                                <p class="card-text">{{ .Description }}</p>
                                <a href="/plugins/download/{{ .Name }}" class="card-link">Add</a>
                            </div>
                        </div>
                 {{ end }}
                </div>

                {{ range .Plugins }}

                    <div class="tab-pane fade" id="v-pills-{{underscore .Name}}" role="tabpanel" aria-labelledby="v-pills-{{underscore .Name}}-tab">

                        <h4 class="text-capitalize">{{ .Name }}</h4>
                        <span class="text-muted">{{ .Description }}</span>

                        <div class="mt-1">
                        {{ safe .Form }}
                        </div>

                    </div>
                {{end}}

            </div>
        </div>

    </div>
</div>
{{template "footer"}}

<script src="/js/jquery-3.3.1.slim.min.js"></script>
<script src="/js/bootstrap.min.js"></script>


</body>
</html>