HTML,BODY {
    background-color: #efefef;
    margin: 40px 0;
}

.container {
    max-width: 790px;
    background-color: white;
    padding: 50px;
    border-radius: 7px;
}

.navbar {
    margin-left: -50px;
    margin-top: -50px;
    width: 790px;
    margin-bottom: 30px;
}

.lg_number {
    font-size: 26pt;
    font-weight: bold;
    display: block;
}

.stats_area {
    text-align: center;
}

.offline_bg {
    background-color: #c5c5c578 !important;
}