HTML,BODY {
    background-color: #efefef;
    margin: 40px 0;
}

.container {
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar {
    margin-top: -50px;
    margin-bottom: 30px;
}

.lg_number {
    font-size: 26pt;
    font-weight: bold;
    display: block;
    color: #3e3e3e;
}

.text_perfect {
    color: #33b418;
    text-shadow: 0px 1px 0 #0e6702;
}

.text_good {
    color: #33b418;
    text-shadow: 0px 1px 0 #0e6702;
}

.text_ok {
    color: #33b418;
    text-shadow: 0px 1px 0 #0e6702;
}

.text_bad {
    color: #33b418;
    text-shadow: 0px 1px 0 #0e6702;
}

.stats_area {
    text-align: center;
    color: #a5a5a5;
}

.offline_bg {
    background-color: white !important;
}

.online_list {

}

.footer {
    text-decoration: none;
    margin-top: 20px;
}

.footer A {
    color: #cccccc;
}


.online_badge {
    color: #fff;
    background-color: #35b317;
}

.offline_badge {
    color: #fff;
    background-color: #c51919;
}

.progress {
    margin-top: -20px;
    margin-left: -20px;
    margin-bottom: 15px;
    width: calc(100% + 40px);
    height: 3px;
    border-radius: 0;
}

.card-body {
    overflow: hidden;
}

.card-body H4 A {
    color: #239e07;
    text-decoration: none;
}

@media (max-width: 767px) {

    .container {
        padding: 0px;
    }

    .navbar {
        margin-left: 0px;
        margin-top: 0px;
        width: 100%;
        margin-bottom: 0;
    }

    .card-body {
        font-size: 6pt;
    }

    .lg_number {
        font-size: 1.2rem;
    }


}