/*    Index Page      */
/*    Status Container   */
/*    Button Colors      */
/*   Footer Settings   */
/*   Global Settings */
/*   Mobile Settings   */
/*   Mobile Service Container   */
HTML, BODY {
  background-color: #fcfcfc; }

.container {
  padding-top: 20px;
  padding-bottom: 20px;
  max-width: 860px; }

.header-title {
  color: #464646; }

.header-desc {
  color: #939393; }

.btn {
  border-radius: 0.2rem; }

.online_list .badge {
  margin-top: 0.2rem; }

.navbar {
  margin-bottom: 30px; }

.btn-sm {
  line-height: 1.3;
  font-size: 0.75rem; }

.view_service_btn {
  position: absolute;
  bottom: -40px;
  right: 40px; }

.service_lower_info {
  position: absolute;
  bottom: -40px;
  left: 40px;
  color: #d1ffca;
  font-size: 0.85rem; }

.lg_number {
  font-size: 2.3rem;
  font-weight: bold;
  display: block;
  color: #4f4f4f; }

.stats_area {
  text-align: center;
  color: #a5a5a5; }

.lower_canvas {
  height: 55px;
  width: 100%;
  background-color: #48d338;
  padding: 17px 10px; }

.lower_canvas SPAN {
  font-size: 1rem;
  color: #fff; }

.footer {
  text-decoration: none;
  margin-top: 20px; }

.footer A {
  color: #8d8d8d;
  text-decoration: none; }

.footer A:HOVER {
  color: #6d6d6d; }

.badge {
  color: white;
  border-radius: 0.2rem; }

.btn-group {
  height: 25px; }
  .btn-group A {
    padding: 0.1rem .75rem;
    font-size: 0.8rem; }

.card-body .badge {
  color: #fff; }

.nav-pills .nav-link {
  border-radius: 0.2rem; }

.form-control {
  border-radius: 0.2rem; }

.card {
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.125); }

.card-body {
  overflow: hidden; }

.card-body H4 A {
  color: #444444;
  text-decoration: none; }

.chart-container {
  position: relative;
  height: 170px;
  width: 100%; }

.btn-primary {
  background-color: #3e9bff;
  border-color: #006fe6;
  color: white; }
  .btn-primary.dyn-dark {
    background-color: #32a825 !important;
    border-color: #2c9320 !important; }
  .btn-primary.dyn-light {
    background-color: #75de69 !important;
    border-color: #88e37e !important; }

.btn-success {
  background-color: #47d337; }
  .btn-success.dyn-dark {
    background-color: #32a825 !important;
    border-color: #2c9320 !important; }
  .btn-success.dyn-light {
    background-color: #75de69 !important;
    border-color: #88e37e !important; }

.btn-danger {
  background-color: #dd3545; }
  .btn-danger.dyn-dark {
    background-color: #b61f2d !important;
    border-color: #a01b28 !important; }
  .btn-danger.dyn-light {
    background-color: #e66975 !important;
    border-color: #e97f89 !important; }

.bg-success {
  background-color: #47d337 !important; }

.bg-danger {
  background-color: #dd3545 !important; }

.bg-success .dyn-dark {
  background-color: #35b027 !important; }

.bg-danger .dyn-dark {
  background-color: #bf202f !important; }

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  background-color: #13a00d; }

.nav-pills A {
  color: #424242; }

.CodeMirror {
  /* Bootstrap Settings */
  box-sizing: border-box;
  margin: 0;
  font: inherit;
  overflow: auto;
  font-family: inherit;
  display: block;
  width: 100%;
  padding: 0px;
  font-size: 14px;
  line-height: 1.5;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  /* Code Mirror Settings */
  font-family: monospace;
  position: relative;
  overflow: hidden;
  height: 60vh; }

.CodeMirror-focused {
  /* Bootstrap Settings */
  border-color: #66afe9;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; }

@keyframes pulse_animation {
  0% {
    transform: scale(1); }
  30% {
    transform: scale(1); }
  40% {
    transform: scale(1.02); }
  50% {
    transform: scale(1); }
  60% {
    transform: scale(1); }
  70% {
    transform: scale(1.05); }
  80% {
    transform: scale(1); }
  100% {
    transform: scale(1); } }
.pulse {
  animation-name: pulse_animation;
  animation-duration: 1500ms;
  transform-origin: 70% 70%;
  animation-iteration-count: infinite;
  animation-timing-function: linear; }

@keyframes glow-grow {
  0% {
    opacity: 0;
    transform: scale(1); }
  80% {
    opacity: 1; }
  100% {
    transform: scale(2);
    opacity: 0; } }
.pulse-glow {
  animation-name: glow-grown;
  animation-duration: 100ms;
  transform-origin: 70% 30%;
  animation-iteration-count: infinite;
  animation-timing-function: linear; }

.pulse-glow:before,
.pulse-glow:after {
  position: absolute;
  content: '';
  height: 0.5rem;
  width: 1.75rem;
  top: 1.2rem;
  right: 2.15rem;
  border-radius: 0;
  box-shadow: 0 0 7px #47d337;
  animation: glow-grow 2s ease-out infinite; }

@media (max-width: 767px) {
  HTML, BODY {
    background-color: #fcfcfc; }

  .sm-container {
    margin-top: 40px !important;
    padding: 0 !important; }

  .list-group-item H5 {
    font-size: 0.9rem; }

  .container {
    padding: 0 !important; }

  .navbar {
    margin-left: 0px;
    margin-top: 0px;
    width: 100%;
    margin-bottom: 0; }

  .btn-sm {
    line-height: 0.9rem;
    font-size: 0.65rem; }

  .full-col-12 {
    padding-left: 0px;
    padding-right: 0px; }

  .card {
    border: 0;
    border-radius: 0rem;
    padding: 0;
    background-color: #ffffff; }

  .card-body {
    font-size: 6pt;
    padding: 5px 5px; }

  .lg_number {
    font-size: 1.5rem; }

  .stats_area {
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important; }

  .stats_area .col-4 {
    padding-left: 0;
    padding-right: 0;
    font-size: 0.6rem; }

  .list-group-item {
    border-top: 1px solid #e4e4e4;
    border: 0px; }

  .list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0; }

  .list-group-item:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0; }

  .list-group-item P {
    font-size: 0.7rem; } }

/*# sourceMappingURL=base.css.map */
