/*    Index Page      */
$background-color: #f5f8ff;
$primary-bg: linear-gradient(314deg, #54a5ff -40%, #03299c);
$container-color: #ffffff;
$text-color: #2a2a2a;
$max-width: 775px;

/* colors */
$base-color: #1f2849;
$white: rgba(255, 255, 255, 1);

//font-family
$font-family: "Lato";

$mobile-card-shadow: 2px 3px 10px #b7b7b7;
$green: #1f890e;
$red: #d12d2d;
$yellow: #e4951d;
$uptime: rgba($green, 0.54);
$downtime: rgba($red, 0.54);
$degraded: rgba($yellow, 0.54);
$blue: #4b95ed;

$group-list-background: #fafcff;
$group-list-title: #474747;
$navbar-color: #1c1c1c;
$navbar-background: #ffffff;
$input-background: #fdfdfd;
$input-color: #1f2849;
$input-border: 1px solid #c9c9c9;
$day-success-background: #5ebe5b;
$day-stale-background: #e9e9e9;
$day-warning-background: #fcd669;
$day-error-background: #d50a0a;

/*    Status Container   */
$card-background: #fcfcfc;
$card-border: 1px solid rgba(76, 76, 76, 0.12);
$card-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.08);
$service-title: #3e3e3e;
$service-title-size: 1.8rem;
$service-stats-color: #4f4f4f;
$service-description-color: #fff;
$service-stats-size: 2.3rem;
$service-card-height: 480px;

/*    Button Colors      */
$success-color: #47d337;
$danger-color: #dd3545;
$primary-color: #3e9bff;

/*   Footer Settings   */
$footer-text-color: #b0b0b0;
$nav-tab-color: #13a00d;
$footer-display: block;

/*   Global Settings */
$global-border-radius: 0.2rem;
$border-pill: 1rem;

/*   Mobile Settings   */
$sm-background-color: #fcfcfc;
$sm-border-radius: 0rem;

/*   Mobile Service Container   */
$sm-service-background: #ffffff;
$sm-padding: 0;
$sm-service-stats-size: 1.5rem;
