@import 'variables';

HTML,BODY {
    background-color: $background-color;
}

.index-chart {
  height: $service-card-height;
  /*Animation*/
  -webkit-transition: height 0.3s ease;
  -moz-transition: height 0.3s ease;
  -o-transition: height 0.3s ease;
  -ms-transition: height 0.3s ease;
  transition: height 0.3s ease;
}

@-o-keyframes fadeIt {
  0%   { background-color: #f5f5f5; }
  50%  { background-color: #f2f2f2; }
  100% { background-color: #f5f5f5; }
}
@keyframes fadeIt {
  0%   { background-color: #f5f5f5; }
  50%  { background-color: #f2f2f2; }
  100% { background-color: #f5f5f5; }
}

.backgroundAnimated {
  background-image:none !important;
  -o-animation: fadeIt 1s ease-in-out;
  animation: fadeIt 1s ease-in-out;
  animation-iteration-count: infinite;
}

.loader {
  background-color: #f5f5f5;
  min-height: 35px;
  border-radius: 3px;
}

.sub-service-card {
  border: 1px solid #dcdcdc87;
  padding-top: 7px;
  padding-bottom: 10px;
  min-height: 70px;
}

.expanded-service {
  height: 550px;

  .stats_area {
    display: none;
  }

}

.service-chart {
  bottom: -16px;
  position: relative;
}

.chartmarker {
  padding: 5px;
  width: 240px;
  text-align: right;
}

.chartmarker SPAN {
  font-size: 9pt;
  display: block;
  color: #8b8b8b;
}

.apexcharts-tooltip {
  box-shadow: none;
}

.contain-card {

  .card-header {
    font-size: 1.15rem;
  }

  .dropdown-menu {
    background-color: rgba(239, 239, 239, 0.65);
  }

}

.dropup .dropdown-menu {
    border-radius: 8px 8px 8px 0;
    background-color: #efefef;
}

  .service_scale {
    width: 60pt;
    float: left !important;
    margin-right: 12pt;
  }

  .slide-fade-enter-active {
    transition: all .5s ease;
  }
  .slide-fade-leave-active {
    transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  }
  .slide-fade-enter, .slide-fade-leave-to
    /* .slide-fade-leave-active below version 2.1.8 */ {
    transform: translateX(10px);
    opacity: 0;
  }

  .container {
    padding-top: 20px;
    padding-bottom: 25px;
    max-width: $max-width;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
  }

  .header-title {
    color: $title-color;
  }

  .header-desc {
    color: $description-color;
  }

  .btn {
    border-radius: $global-border-radius;
  }

  .online_list .badge {
    font-size: 8pt;
    padding: 5px 7px;
  }

  .navbar {
    margin-bottom: 30px;
  }

  .btn-sm {
    line-height: 1.3;
    font-size: 0.75rem;
  }

  .view_service_btn {
    position: absolute;
    bottom: -40px;
    right: 40px;
  }

  .service_lower_info {
    position: absolute;
    bottom: -40px;
    left: 40px;
    color: #d1ffca;
    font-size: 0.85rem;
  }

  .lg_number {
    font-size: $service-stats-size;
    font-weight: bold;
    display: block;
    color: $service-stats-color;
  }

  .stats_area {
    text-align: center;
    line-height: 1.3;
  }

  .lower_canvas {
    height: 3.4rem;
    width: 100%;
    padding: 15px 10px;
    margin-left: 0px !important;
    margin-right: 0px !important;
  }

  .lower_canvas SPAN {
    font-size: 1rem;
    color: $service-description-color
  }

  .footer {
    text-decoration: none;
    margin-top: 20px;
  }

  .footer A {
    color: $footer-text-color;
    text-decoration: none;
  }

  .footer A:HOVER {
    color: #6d6d6d;
  }

  .font-0 {
    font-size: 0.35rem;
  }

  .font-1 {
    font-size: 0.8rem;
  }

  .font-2 {
    font-size: 0.8rem;
  }

.font-3 {
  font-size: 1.1rem;
}

.font-4 {
  font-size: 1.7rem;
}

.font-5 {
  font-size: 2.3rem;
}

.font-6 {
  font-size: 2.8rem;
}

.font-7 {
  font-size: 3rem;
}

.font-8 {
  font-size: 3.5rem;
}

.subtitle {
  color: $subtitle-color;
}

  .badge {
    color: white;
    border-radius: $global-border-radius;
  }

  .btn-group {
    height: 25px;

    & A {
      padding: 0.1rem .75rem;
      font-size: 0.8rem;
    }
  }

  .card-body .badge {
    color: #fff;
  }

  .nav-pills .nav-link {
    border-radius: $global-border-radius;
  }

  .form-control {
    border-radius: $global-border-radius;
  }

  .mini_success {
    background-color: #f3f3f3;
  }

  .no-decoration {
    color: black;
    text-decoration: none;
  }

  .no-decoration:HOVER {
    color: #2b2b2b;
    text-decoration: none;
  }

  .mini_error {
    background-color: #ffbbbb;
  }

  .card {
    background-color: $service-background;
    border: $service-border;
  }

  .card-body {
    overflow: hidden;
  }

  .card-body H4 A {
    color: $service-title;
    text-decoration: none;
  }

  .card-title A {
    color: $service-title;
    text-decoration: none;
  }

  .chart-container {
    position: relative;
    height: 240px;
    width: 100%;
    overflow: hidden;
  }

  .service-chart-container {
    position: relative;
    height: 400px;
    width: 100%;
  }

  .service-chart-heatmap {
    position: relative;
    height: 180px;
    width: 100%;
  }

  .inputTags-field {
    border: 0;
    background-color: transparent;
    padding-top: .13rem;
  }

  input.inputTags-field:focus {
    outline-width: 0;
  }

  .inputTags-list {
    display: block;
    width: 100%;
    min-height: calc(2.25rem + 2px);
    padding: .2rem .35rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }

  .inputTags-item {
    background-color: #3aba39;
    margin-right: 5px;
    padding: 5px 8px;
    font-size: 10pt;
    color: white;
    border-radius: 4px;
  }

  .inputTags-item .close-item {
    margin-left: 6px;
    font-size: 13pt;
    font-weight: bold;
    cursor: pointer;
  }

  @mixin dynamic-color-hov($color) {
    &.dyn-dark {
      background-color: darken($color, 12%) !important;
      border-color: darken($color, 17%) !important;
    }
    &.dyn-dark:HOVER {
      background-color: darken($color, 17%) !important;
      border-color: darken($color, 20%) !important;
    }
    &.dyn-light {
      background-color: lighten($color, 12%) !important;
      border-color: lighten($color, 17%) !important;
    }
    &.dyn-light:HOVER {
      background-color: lighten($color, 17%) !important;
      border-color: lighten($color, 20%) !important;
    }
  }

  @mixin dynamic-color($color) {
    &.dyn-dark {
      background-color: darken($color, 12%) !important;
      border-color: darken($color, 17%) !important;
    }
    &.dyn-light {
      background-color: lighten($color, 12%) !important;
      border-color: lighten($color, 17%) !important;
    }
  }


  .btn-primary {
    background-color: $primary-color;
    border-color: darken($primary-color, 17%);
    color: white;
    @include dynamic-color($success-color);
  }

  .btn-success {
    background-color: $success-color;
    @include dynamic-color($success-color);
  }

  .btn-danger {
    background-color: $danger-color;
    @include dynamic-color($danger-color);
  }

  .bg-success {
    background-color: $success-color !important;
  }

  .bg-danger {
    background-color: $danger-color !important;
  }

  .bg-success .dyn-dark {
    background-color: darken($success-color, 10%) !important;
  }

  .bg-danger .dyn-dark {
    background-color: darken($danger-color, 10%) !important;
  }

  .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: $nav-tab-color;
  }

  .nav-pills A {
    color: #424242;
  }

  .nav-pills I {
    margin-right: 10px;
  }

  @keyframes fadeInOut {
    0%   { opacity:1; }
    50%  { opacity:0.3; }
    100% { opacity:1; }
  }
  @-o-keyframes fadeInOut {
    0%   { opacity:1; }
    50%  { opacity:0.3; }
    100% { opacity:1; }
  }
  @-moz-keyframes fadeInOut {
    0%   { opacity:1; }
    50%  { opacity:0.3; }
    100% { opacity:1; }
  }
  @-webkit-keyframes fadeInOut {
    0%   { opacity:1; }
    50%  { opacity:0.3; }
    100% { opacity:1; }
  }
  .animate-fader {
    -webkit-animation: fadeInOut 1s infinite;
    -moz-animation: fadeInOut 1s infinite;
    -o-animation: fadeInOut 1s infinite;
    animation: fadeInOut 21 infinite;
  }

  .CodeMirror {
    /* Bootstrap Settings */
    box-sizing: border-box;
    margin: 0;
    font: inherit;
    overflow: auto;
    font-family: inherit;
    display: block;
    width: 100%;
    padding: 0px;
    font-size: 14px;
    line-height: 1.5;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    /* Code Mirror Settings */
    font-family: monospace;
    position: relative;
    overflow: hidden;
    height:80vh;
  }

  .CodeMirror-focused {
    /* Bootstrap Settings */
    border-color: #66afe9;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  }

  .switch {
    font-size: 1rem;
    position: relative;
  }
  .switch input {
    position: absolute;
    height: 1px;
    width: 1px;
    background: none;
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    overflow: hidden;
    padding: 0;
  }
  .switch input + label {
    position: relative;
    min-width: calc(calc(2.375rem * .8) * 2);
    border-radius: calc(2.375rem * .8);
    height: calc(2.375rem * .8);
    line-height: calc(2.375rem * .8);
    display: inline-block;
    cursor: pointer;
    outline: none;
    user-select: none;
    vertical-align: middle;
    text-indent: calc(calc(calc(2.375rem * .8) * 2) + .5rem);
  }
  .switch input + label::before,
  .switch input + label::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: calc(calc(2.375rem * .8) * 2);
    bottom: 0;
    display: block;
  }
  .switch input + label::before {
    right: 0;
    background-color: #dee2e6;
    border-radius: calc(2.375rem * .8);
    transition: 0.2s all;
  }
  .switch input + label::after {
    top: 2px;
    left: 2px;
    width: calc(calc(2.375rem * .8) - calc(2px * 2));
    height: calc(calc(2.375rem * .8) - calc(2px * 2));
    border-radius: 50%;
    background-color: white;
    transition: 0.2s all;
  }
  .switch input:checked + label::before {
    background-color: #08d;
  }
  .switch input:checked + label::after {
    margin-left: calc(2.375rem * .8);
  }
  .switch input:focus + label::before {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(0, 136, 221, 0.25);
  }
  .switch input:disabled + label {
    color: #868e96;
    cursor: not-allowed;
  }
  .switch input:disabled + label::before {
    background-color: #e9ecef;
  }
  .switch.switch-sm {
    font-size: 0.875rem;
  }
  .switch.switch-sm input + label {
    min-width: calc(calc(1.9375rem * .8) * 2);
    height: calc(1.9375rem * .8);
    line-height: calc(1.9375rem * .8);
    text-indent: calc(calc(calc(1.9375rem * .8) * 2) + .5rem);
  }
  .switch.switch-sm input + label::before {
    width: calc(calc(1.9375rem * .8) * 2);
  }
  .switch.switch-sm input + label::after {
    width: calc(calc(1.9375rem * .8) - calc(2px * 2));
    height: calc(calc(1.9375rem * .8) - calc(2px * 2));
  }
  .switch.switch-sm input:checked + label::after {
    margin-left: calc(1.9375rem * .8);
  }
  .switch.switch-lg {
    font-size: 1.25rem;
  }
  .switch.switch-lg input + label {
    min-width: calc(calc(3rem * .8) * 2);
    height: calc(3rem * .8);
    line-height: calc(3rem * .8);
    text-indent: calc(calc(calc(3rem * .8) * 2) + .5rem);
  }
  .switch.switch-lg input + label::before {
    width: calc(calc(3rem * .8) * 2);
  }
  .switch.switch-lg input + label::after {
    width: calc(calc(3rem * .8) - calc(2px * 2));
    height: calc(calc(3rem * .8) - calc(2px * 2));
  }
  .switch.switch-lg input:checked + label::after {
    margin-left: calc(3rem * .8);
  }
  .switch + .switch {
    margin-left: 1rem;
  }

  .sortable_drag {
    background-color: #0000000f;
  }

  .drag_icon {
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    width: 25px;
    height: 25px;
    display: inline-block;
    margin-right: 5px;
    margin-left: -10px;
    text-align: center;
    color: #b1b1b1;
  }

  /* (Optional) Apply a "closed-hand" cursor during drag operation. */
  .drag_icon:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
  }

  .switch_btn {
    float: right;
    margin: -1px 0px 0px 0px;
    display: block;
  }

  #start_container {
    position: absolute;
    z-index: 99999;
    margin-top: 20px;
  }

  #end_container {
    position: absolute;
    z-index: 99999;
    margin-top: 20px;
    right: 0;
  }

  .pointer {
    cursor: pointer;
  }

  .jumbotron {
    background-color: white;
  }

  .toggle-service {
    font-size: 18pt;
    float: left;
    margin: 2px 3px 0 0;
    cursor: pointer;
  }

  .list-group-item {
    min-height: 85pt;
  }

  .list-group-item:HOVER {
    background-color: #fff;
  }

  .index_container {
    min-height: 980pt;
    background-color: $container-color;
  }

  /* Enter and leave animations can use different */
  /* durations and timing functions.              */
  .slide-fade-enter-active {
    transition: all .3s ease;
  }
  .slide-fade-leave-active {
    transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  }
  .slide-fade-enter, .slide-fade-leave-to
    /* .slide-fade-leave-active below version 2.1.8 */ {
    transform: translateX(10px);
    opacity: 0;
  }
