/*    Index Page      */
$background-color: #fcfcfc;
$container-color: #fcfcfc;
$max-width: 860px;
$title-color: #464646;
$description-color: #939393;
$subtitle-color: #747474;
$mobile-card-shadow: 2px 3px 10px #b7b7b7;

/*    Status Container   */
$service-background: #ffffff;
$service-border: 1px solid rgba(0,0,0,.125);
$service-title: #444444;
$service-title-size: 1.8rem;
$service-stats-color: #4f4f4f;
$service-description-color: #fff;
$service-stats-size: 2.3rem;
$service-card-height: 480px;

/*    Button Colors      */
$success-color: #47d337;
$danger-color: #dd3545;
$primary-color: #3e9bff;

/*   Footer Settings   */
$footer-text-color: #8d8d8d;
$nav-tab-color: #13a00d;
$footer-display: block;

/*   Global Settings */
$global-border-radius: 0.2rem;

/*   Mobile Settings   */
$sm-background-color: #fcfcfc;
$sm-border-radius: 0rem;

/*   Mobile Service Container   */
$sm-service-background: #ffffff;
$sm-padding: 0;
$sm-service-stats-size: 1.5rem;
